/tvm_samples/01_yolodarknet/deploy_lir.tar
/tvm_samples/01_yolodarknet/deploy_lir.tar.so
/tvm_samples/02_tvm_tf_yolo/model/yolov3_visdrone.pb
/tvm_samples/03_tvmc/resnet50-v2-7.onnx
/tvm_samples/03_tvmc/compiled_module.tar